<%= form_with(model: debtor, local: true) do |form| %>
  <% if debtor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(debtor.errors.count, "error") %> prohibited this debtor from being saved:</h2>

      <ul>
      <% debtor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :f_name %>
    <%= form.text_field :f_name %>
  </div>

  <div class="field">
    <%= form.label :l_name %>
    <%= form.text_field :l_name %>
  </div>

  <div class="field">
    <%= form.label :debt %>
    <%= form.text_field :debt %>
  </div>

  <div class="field">
    <%= form.label :items %>
    <%= form.text_field :items %>
  </div>

  <div class="actions">
    <%= form.submit 'Update', class: 'btn blue lighten-3' %>
  </div>
<% end %>
